# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/

# IDE / Editor
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# OS / misc
.DS_Store

# Builds / binaries
*.apk
*.aab
TempAssembly.dll
SpiderEmbodiment_BurstDebugInformation_DoNotShip/

# crash dumps
mono_crash*.json
mono_crash*.blob

# Notebooks / python junk
.ipynb_checkpoints/
*.ipynb
__pycache__/
*.pyc
*.save

# Local outputs / artifacts
plots/
results/
data/

# Screenshots / exports
30.07.Screenshots/

# misc local temp
.utmp/
.virtual_documents/
.gitignore.bak

# local screenshots / docs in root
*.png
*.pdf
dupes_list.txt
.gitignore.bak
